services:
  redis:
    container_name: redis_container
    image: redis:alpine
    restart: always
    ports:
      - 6379:6379
    command: redis-server --loglevel warning
    volumes:
      - ./docker_volumes/cache:/data
    networks:
      - mynet

  postgres:
    container_name: postgres_container
    image: postgres:18.0-alpine3.22
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=pgdb
      - PGDATA=/var/lib/postgresql/18/docker
    ports:
      - 5432:5432
    volumes:
      # - ./src/shared/db/data:/data
      - ./docker_volumes/postgres:/var/lib/postgresql
      - ./init:/docker-entrypoint-initdb.d
    networks:
      - mynet

  pgadmin:
    container_name: pgadmin_container
    image: dpage/pgadmin4:9.9.0
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=dothanhnhutis@gmail.com
      - PGADMIN_DEFAULT_PASSWORD=admin123
    ports:
      - 8080:80
    volumes:
      - ./docker_volumes/pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres
    networks:
      - mynet

  rabbitmq:
    container_name: rabbitmq_container
    image: rabbitmq:4.1.0-management-alpine
    restart: always
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      - RABBITMQ_DEFAULT_VHOST=queue
      - RABBITMQ_DEFAULT_USER=root
      - RABBITMQ_DEFAULT_PASS=secret
    networks:
      - mynet

networks:
  mynet:
    driver: bridge
